<div class="bg-info container rounded-5 shadow card mt-5 block">
  <h1 class="text-center mt-3">Create a list!</h1>
  <div class="container">
  <%= simple_form_for @list do |f| %>
    <%= f.input :name %>
    <%= f.input :photo, as: :file %>
    <%= f.button :submit , class: 'btn btn-secondary rounded-5 mt-3 mb-3' %>
  <% end %>
  </div>
</div>
